<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar>
        <ion-title>Hello World</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1>Welcome To @ionic/vue</h1>
      <img alt="Vue logo" src="../assets/logo.png">
    </ion-content>
    <ion-card>
      <ion-card-header>
        <strong>{{number}}</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="success" @click="increase">Increase</ion-button>
        <ion-button color="danger" @click="decrease">Decrease</ion-button>
      </ion-card-content>
    </ion-card> 
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      number: 1
    }
  },
  methods: {
    increase() {
      this.number += 1;
    },
    decrease() {
      this.number -= 1;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
